body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(231, 236, 240);
  background: radial-gradient(
    circle,
    rgba(231, 236, 240, 1) 0%,
    rgba(101, 158, 211, 1) 100%
  );
  font-family: "Outfit", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.board {
  text-align: center;
  margin: auto;
}

.board-row {
  display: flex;
  justify-content: center;
}

.btn {
  height: 120px;
  width: 120px;
  font-size: 50px;
}

.App {
  width: 80%;
  margin: auto;
}

.header {
  text-align: center;
  font-size: 40px;
  text-shadow: 2px 2px 4px #bbb;
}

.hide {
  display: none;
}
