@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(90deg, #00cdac 0%, #8ddad5 100%);
  color: #f8f8f8;
}

.board {
  text-align: center;
  margin: auto;
}

.board-row {
  display: flex;
  justify-content: center;
}

.btn {
  height: 120px;
  width: 120px;
  font-size: 50px;
}

.App {
  width: 80%;
  margin: auto;
}

.header {
  text-align: center;
  font-size: 40px;
  text-shadow: 2px 2px 6px #bbb;
}

.hide {
  display: none;
}
